<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin tài khoản</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;   
    }
    html,
    body {
      height: 100%;
      margin: 0;
      overflow: hidden
    }
    .container {
      max-width: 100%;
      display: flex;
      height: 100%;
      padding: 0px;
    }
    /* MENU */
    .menu {
      background-color: white;
      width: 100px;
      max-height: 100%;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      transition: all 0.5s;
      display: block;
      position: relative;
    }
    .menu__title {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
    .menu__logo {
      width: 100%;
      padding: 20px;
    }
    .menu__logo img {
      width: 100%;
    }
    .menu__items {
      width: 100%;
      text-align: center;
      padding: 20px 0px 20px;
      cursor: pointer;
      color: #dadada;
      display: block;
    }
    .menu__items--separation {
      margin-bottom: 40px;
    }
    .menu__icon i {
      font-size: 20px;
    }
    .menu__icon {
      padding: 6px 0px;
    }
    .menu__active {
      border-left: 2px solid #d72134;
      color: #d72134 !important;
    }
    /* Content */
    .content {
      background-color: #f5f5f5;
      width: 100%;
      padding: 30px 60px 20px 30px;
    }
    .content__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .content__name {
      padding: 40px 0px 10px 40px;
      font-size: 30px;
    }
    .content__breadcrumb {
      font-size: 16px;
      font-weight: bold;
      margin-left: 20px;
    }
    .breadcrumb__User {
      display: inline-block;
      margin-left: 10px;
      color: #f34f68;
      padding: 12px 0px;
    }
    .content__user {
      display: flex;
      align-items: center;
    }
    .user_icon {
      font-size: 24px;
      margin-right: 14px;
      margin-top: 6px;
    }
    .user__info {
      margin-right: 10px;
      font-size: 16px;
      text-align: right;
    }
    .user__info p:first-child {
      text-align: right;
    }
    .user__img img {
      border-radius: 50%;
      width: 40px;
      height: 100%;
    }
    .user__img {
      margin-right: 10px;
    }
    .user__detail {
      font-size: 20px;
      cursor: pointer;
      color: gray;
    }
    .content__generality {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 20px 0px;
      padding: 14px 20px;
      background: #f1f1f1;
      border-radius: 8px;
    }
    .generality__total {
      display: flex;
      align-items: center;
    }
    .generality__select {
      margin-left: 10px;
      margin-right: 20px;
    }
    .generality__select select {
      width: 60px;
      height: 40px;
      border-radius: 4px;
      outline: none;
    }
    .content__btn {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      border-radius: 10px;
    }
    .content__btn button {
      cursor: pointer;
      padding: 12px 20px;
      outline: none;
      border-radius: 10px;
      font-size: 16px;
      background-color: white;
      border: 1px solid gray;
      color: black;
    }
    .content__btn button i {
      margin-left: 6px;
    }
    .generality__search {
      position: relative;
    }
    .generality__search_icon {
      position: absolute;
      top: 5px;
      left: 6px;
      font-size: 12px;
      color: gray;
      cursor: pointer;
      padding: 10px;
    }
    .generality__search input {
      padding: 14px 40px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px 0px;
      border: none;
      outline: none;
      border-radius: 6px;
    }
    .content__table {
      width: 100%;
      text-align: center;
      border: none;
      border-spacing: 0px;
      border-radius: 12px;
      overflow: hidden;
    }
    .content__table th {
      color: white;
      padding: 20px 10px;
    }
    .content__table_header {
      background-color: #dc546c;
      font-size: 16px;
    }
    .content__table-checkbox {
      margin-top: 4px;
    }
    .content__table_body {
      font-size: 16px;
    }
    .content__table_body td {
      padding: 10px 0px;
    }
    .approve {
      background-color: #5cbd4c;
      display: inline-block;
      padding: 4px 12px;
      border-radius: 12px;
      color: white;
    }
    .btn {
      padding: 6px 8px;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 4px;
    }
    .btn i {
      font-size: 20px;
      color: white;
    }
    .gold {
      background-color: #f4924b;
    }
    .blue {
      background-color: #1b59f8;
    }
    .green {
      background-color: #5cbd4c;
    }
    .paging {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-top: 20px;
    }
    .paging--active {
      background-color: #d72134 !important;
      color: white !important;
    }
    .paging button {
      padding: 10px 14px;
      margin: 0px 8px;
      border: none;
      background-color: rgb(241, 241, 241);
      cursor: pointer;
      font-size: 16px;
      border-radius: 10px;
      outline: none;
    }
    .menu__dropwdown {
      width: 250px;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      position: relative;
      padding: 2px;
      display: none;
      transition: all 0.5s;
    }
    .menu__dropdown_logo {
      padding: 30px;
      width: 100%;
    }
    .menu__dropdown_logo img {
      width: 100%;
    }
    .menu__dropwdown .menu__title {
      text-align: left;
      padding: 0px 20px;
    }
    .menu__dropwdown .menu__items {
      text-align: left;
      margin: 0px;
      padding: 10px 0px;
      display: block;
      text-decoration: none;
    }
    .menu__dropwdown .menu__items .menu__icon {
      display: flex;
      align-items: center;
      padding: 0px 20px;
      justify-content: space-between;
    }
    .menu__dropwdown .menu__items .menu__icon .menu__dropdown_icon {
      display: flex;
      align-items: center;
    }
    .menu__dropwdown .menu__items .menu__icon .menu__dropdown_icon p {
      color: black;
      margin-left: 10px;
      font-size: 18px;
      margin-top: 4px;
    }
    .active {
      color: #d72134 !important;
    }
    .menu__icon_open i {
      font-size: 20px;
      margin-top: 6px;
      transition: all 0.3s;
    }
    .menu__dropdown_nav {
      padding-left: 44px;
      font-size: 14px;
      margin-top: 10px;
      display: none;
      transition: all 0.5s;
    }
    .menu__dropdown_list {
      list-style: none;
    }
    .menu__dropdown_list li {
      color: black;
      padding: 10px 0px;
    }
    .icon__notification {
      width: 15px;
      height: 15px;
      background-color: #d72134;
      border-radius: 50%;
      margin-top: 4px;
    }
    .menu__regime {
      display: flex;
      align-items: center;
      margin: 10px 40px 0px 20px;
      padding: 10px 12px;
      justify-content: center;
      background: #f5f5f5;
      border-radius: 10px;
    }
    .regime__light,
    .regime__dark {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .regime__dark {
      margin-left: 10px;
      background: gray;
      color: black;
      padding: 6px 10px;
      border-radius: 40px;
    }
    .regime__light {
      background-color: white;
      padding: 6px 10px;
      border-radius: 40px;
      color: black;
    }
    .regime__light p,
    .regime__dark p {
      margin-left: 10px;
    }
    /* Toggle */
    #statistics .show {
      display: block;
    }
    .show .menu__icon_open i {
      transform: rotate(-180deg);
    }
    .show ~ .menu__dropdown_nav {
      display: block;
    }
    #btn-dropdown {
      position: absolute;
      left: 234px;
      top: 40px;
    }
    #btn-dropdown button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #d72134;
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
    }
    #btn-dropdown button i {
      font-size: 16px;
      transition: all 0.5s;
    }
    #btn-menu {
      position: absolute;
      left: 78px;
      top: 30px;
    }
    #btn-menu button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #d72134;
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
    }
    #btn-menu button i {
      font-size: 16px;
      transition: all 0.5s;
    }
    .container__info {
      height: 690px;
      width: 100%;
      border-radius: 14px;
      overflow: hidden;
      position: relative;
    }
    .content__img{
      width: 100%;
      height: 100%;
    }
    .content__img img{
      width: 100%;
      height: 40.5rem;
      object-fit: cover;
      object-position: center;
    }
    .info__img {
      background-image: url("../app/assets/images/Bird.jpg");
      width: 20%;
      float: left;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .info__content {
      background-color: white;
      padding: 40px 0px 100px 200px;
      float: right;
      width: 80%;
      height: 100%;
    }
    .info__title {
      margin-left: 32px;
    }
    .info__title h1 {
      padding-bottom: 6px;
      width: 80%;
    }
    .info {
      font-size: 16px;
      color: gray;
      margin: 6px 0px 40px 0px;
      padding-top: 6px;
    }
    .info__list {
      display: flex;
      flex-direction: row;
    }
    .user-left {
      padding-right: 20rem;
    }
    .info__list li {
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 16px;
      margin: 40px 0px;
    }
    .info__list li p {
      margin: 0px 50px 0px 20px;
      color: gray;
      font-size: 18px;
      text-align: left;
    }
    .info__list li span {
      width: 12px;
      height: 12px;
    }
    .info__user_img {
      position: absolute;
      top: 50px;
      left: 220px;
      border-radius: 50%; 
      border: 10px solid white;
      width: 220px;
      height: 220px;
    }
    .info__user_img img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .btn_edit-info {
      position: absolute;
      top: 580px;
      left: 950px;
    }
    .btn_edit-info button {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      outline: none;
      background-color: #dc546c;
      border-radius: 40px;
      color: white;
    }
    .userRole {
      padding: 0.5rem;
      border-radius: 12px;
    }
    .userUnit {
      padding: 0.5rem;
      border-radius: 12px;
    }
    .userSuject {
      padding: 0.5rem;
      border-radius: 12px;
    }
    .userFacculty {
      padding: 0.5rem;
      border-radius: 12px;
    }
    .select_role {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
    }
    .left_role {
      padding-right: 1rem;
      display: flex;
      flex-direction: column;
    }
    .right_role {
      display: flex;
      flex-direction: column;
    }


  </style>
  <body>
    <main class="container">
      <%= render "shared/left_nav"%>
      <div class="content">
        <%= render 'shared/header' %>
        <h1 class="content__name">CHỈNH SỬA TÀI KHOẢN</h1>
        <div class="container__info" style="height: 780px;">
          <div class="info__img">
            <div class="content__img">
              <%= image_tag("Bird.jpg") %>    
            </div>    
          </div>
          <%= simple_form_for @user, method: :put, url: user_path(@user) do |f| %>
          <div class="info__content" style="padding: 100px 0px 50px 180px;">
            <div class="info__title">
              <h1><%= @user.name %></h1>
              <p class="info" style="font-weight: 500; font-size: 20px;">Thông tin</p>
            </div>
            <nav class="info__nav">
              <ul class="info__list">
                  <div class="user-left">
                    <li>
                      <span></span>
                      <p style="margin-right: 5rem" >Email</p>
                      <%= @user.email || "N/A" %>
                    </li>
                    <li>
                      <span></span>
                      <p style="margin-right: 4.5rem" >Mã số</p>
                      197XX123456
                    </li>
                    <li>
                      <span></span>
                      <p style="margin-right: 5.5rem" >SĐT</p>
                      <%= f.input :phone_number, label: false, required: false, input_html: { autocomplete: "phone-number", style: "padding: 0.5rem; border-radius: 12px" }%>
                    </li>
                    <li>
                      <span></span>
                      <p style="margin-right: 5rem" >Khoa</p>
                      <%#<%= @user.faculty&.name || "N/A" %>
                      <select class="userFacculty" id="userFaculty" <%= @is_admin ? "" : "disabled"%>>
                        <% Faculty.all.each do |s| %>
                          <option value="<%= s.id %>"><%= s.name %></option>
                        <% end %>
                      </select>
                    </li>
                  </div>
                  <div class="user-right">
                    <li>
                      <span></span>
                      <p style="margin-right: 3.5rem">Bộ môn</p>
                      <%#<%= @user.subject&.name || "N/A" %>
                      <select class="userSuject" id="userSubject"  <%= @is_admin ? "" : "disabled"%>>
                        <% Subject.all.each do |f| %>
                          <option value="<%= f.id %>"><%= f.name %></option>
                        <% end %>
                      </select>
                    </li>
                    <li>
                      <span></span>
                      <p style="margin-right: 4rem; ">Vai trò</p>
                      <%#<%= @user.role || "N/A" %>       
                      
                      <%# if current_user.role == 'admin' 
                        <%= f.input :role,
                          as: :check_boxes, 
                          include_hidden: false,
                          collection: ["Nhân viên", "Giảng viên", "Phụ trách bộ môn", "Ban chủ nhiệm khoa"] 
                      <% end %>
                      
                      <%# <%= f.input :role, label_method: :name, as: :checkboxes, collection: ['Nhân viên', 'Giảng viên']  %>    
                      <div class="select_role" id="select_vaitro">                            
                        <div class="left_role"> 
                          <label><input type="checkbox" id="vaitro1" class="vaitro" value="staff"  <%= @is_admin ? "" : "disabled"%>> Nhân viên</label>
                          <label><input type="checkbox" id="vaitro1" class="vaitro" value="teacher"  <%= @is_admin ? "" : "disabled"%>> Giảng viên</label>                                                       
                        </div>
                        <div class="right_role">
                          <label><input type="checkbox" id="vaitro1" class="vaitro" value="subject"  <%= @is_admin ? "" : "disabled"%>> Phụ trách bộ môn</label>
                          <label><input type="checkbox" id="vaitro1" class="vaitro" value="faculty"  <%= @is_admin ? "" : "disabled"%>> Ban chủ nhiệm khoa</label>         
                        </div>  
                      </div>   
                    </li>
                    <li>
                      <span></span>
                      <p style="margin-right: 4rem;">Đơn vị</p>               
                      <select class="userUnit" id="userUnit" <%= @is_admin ? "" : "disabled"%>>
                        <option value="1">VLU</option>
                        <option value="2">VL Tech</option>
                      </select>
                    </li>  
                  </div>
                             
              </ul>
            </nav>
          </div>
          <div class="info__user_img" style="left: 370px;">
            <img src="<%=@user.avatar&.url || "https://lh3.google.com/u/0/ogw/AGvuzYYcM_IFNQvLSHfI5OSqDYT2FXBM52OQB7JDBNii=s64-c-mo"%>" alt="" id="imagePreview">
            <input type = "file" name = "file" size = "50" id= "equipment_item_image"/>
          </div>
          <div class="btn_edit-info">
            <button style= "padding: 10px 20px;border: none; cursor: pointer; outline: none; background-color: #DC546C; border-radius: 12px; color: white; position: absolute; top: 520px; left: 1450px; display: flex; flex-direction: row; align-items: center; width: 180px;" type="button" id="userEditButton">
              <i class="fa-regular fa-floppy-disk" style="padding-right: 0.5rem"></i>
              LƯU CHỈNH SỬA
            </button>
          </div>
          <% end %>
        </div>
      </div>
    </main>
  </body>
</html>

<script>
  var preview = $("#imagePreview");

  $("#equipment_item_image").change(function(event){
    var input = $(event.currentTarget);
    var file = input[0].files[0];
    var reader = new FileReader();
    reader.onload = function(e){
      image_base64 = e.target.result;
      preview.attr("src", image_base64);
      preview.removeClass("d-none")
    };
   reader.readAsDataURL(file);
  });

  document.getElementById("userEditButton").addEventListener('click', ()=> {
    let phoneNumber = document.getElementById("user_phone_number").value
    let subject = document.getElementById("userSubject").value
    let faculty = document.getElementById("userFaculty").value
    let role = ""

    $(`input[type='checkbox']:checked`).each(function(){
      role += this.value + ","
    })


    // api
    var data = new FormData();
    data.append('phoneNumber',phoneNumber);
    data.append('subject',subject);
    data.append('faculty',faculty);
    data.append('role',role);
    data.append('current_user_role', "<%= current_user.role %>");
    if($("#equipment_item_image")[0].files[0]) {
      data.append('avatar', $("#equipment_item_image")[0].files[0]);
    }

    jQuery.ajax({
      url: "/users/<%= @user.id %>",
      data: data,
      cache: false,
      contentType: false,
      processData: false,
      method: 'PUT',
      success: function(data){
        alert("Chinh sua thanh cong");
        window.location.replace("/users");
      }
    });
  })
</script>