<div class="content__title">
  <div class="content__breadcrumb">
    MENU
    <p class="breadcrumb__name">QUẢN LÝ TÀI KHOẢN</p>
  </div>
  <div class="content__user">
    <div class="user_icon" id="userIcon">
        <%= button_to user_read_notifications_path(current_user), method: :put, style: "background-color: #F5F5F5; border:none" do %>
          <i class="fa-regular fa-bell"></i>
        <% end %>
        <div id="userNotifi">
          <% current_user.notifications.each do |noti|%>
            <div class="notifi__Item">
              <div class="notifi__mess">
                <i class="fa-solid fa-check"></i>
                <div class="mess_content">
                  <p> <%= noti.content %> </p>
                  <p> <%= noti.created_at.strftime('%d %B %Y %r') %> </p>
                </div>
                <i class="fa-solid fa-xmark"></i>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <div class="user__info">
      <p><%= current_user.email %></p>
      <p>
        <%= current_user.role %>
      </p>
    </div>
    <div class="user__img">
      <img src="https://lh3.google.com/u/0/ogw/AGvuzYYcM_IFNQvLSHfI5OSqDYT2FXBM52OQB7JDBNii=s64-c-mo"alt="">
    </div>
    <div class="user__detail">
      <i class="fa-solid fa-angle-down"></i>
    </div>
  </div>
</div>