<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý tài khoản</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <style>
    html,
    body {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
    .container {
      max-width: 100%;
      display: flex;
      padding: 0px;
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    /* MENU */
    .menu {
      background-color: white;
      width: 100px;
      max-height: 100%;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      transition: all 0.5s;
      display: block;
      position: relative;
    }
    .menu__title {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
    .menu__logo {
      width: 100%;
      padding: 20px;
    }
    .menu__logo img {
      width: 100%;
    }
    .menu__items {
      width: 100%;
      text-align: center;
      padding: 20px 0px 20px;
      cursor: pointer;
      color: #dadada;
      display: block;
    }
    .menu__items--separation {
      margin-bottom: 40px;
    }
    .menu__icon i {
      font-size: 20px;
    }
    .menu__icon {
      padding: 6px 0px;
    }
    .menu__active {
      border-left: 2px solid #d72134;
      color: #d72134 !important;
    }
    /* Content */
    .content {
      background-color: #f5f5f5;
      width: 100%;
      padding: 30px 60px 20px 30px;
      overflow-Y: scroll;
    }
    .content__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .content__name {
      padding: 40px 0px 10px 40px;
      font-size: 30px;
    }
    .content__breadcrumb {
      font-size: 16px;
      font-weight: bold;
      margin-left: 20px;
    }
    .breadcrumb__Faculty {
      display: inline-block;
      margin-left: 10px;
      color: #f34f68;
      padding: 12px 0px;
    }
    .content__user {
      display: flex;
      align-items: center;
    }
    .user_icon {
      font-size: 24px;
      margin-right: 14px;
      margin-top: 6px;
    }
    .user__info {
      margin-right: 10px;
      font-size: 16px;
      text-align: right;
    }
    .user__info p:first-child {
      text-align: right;
    }
    .user__img img {
      border-radius: 50%;
      width: 40px;
      height: 100%;
    }
    .user__img {
      margin-right: 10px;
    }
    .user__detail {
      font-size: 20px;
      cursor: pointer;
      color: gray;
    }
    .content-generality {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 20px 0px;
      padding: 14px 20px;
      background-color: #fff;
      border-radius: 12px;
    }
    .generality__total {
      display: flex;
      align-items: center;
    }
    .generality__select {
      margin-left: 10px;
      margin-right: 20px;
    }
    .generality__select select {
      width: 60px;
      height: 40px;
      border-radius: 4px;
      outline: none;
    }
    .content__btn {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      border-radius: 10px;
    }
    .content__btn button {
      cursor: pointer;
      padding: 12px 20px;
      outline: none;
      border-radius: 10px;
      font-size: 16px;
      background-color: white;
      border: 1px solid gray;
      color: black;
    }
    .content__btn button i {
      margin-left: 6px;
    }
    .generality__search {
      position: relative;
    }
    .generality__search_icon {
      position: absolute;
      top: 5px;
      left: 6px;
      font-size: 12px;
      color: gray;
      cursor: pointer;
      padding: 10px;
    }
    .generality__search input {
      padding: 14px 40px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px 0px;
      border: none;
      outline: none;
      border-radius: 6px;
    }
    .content__table {
      width: 100%;
      text-align: center;
      border: none;
      border-spacing: 0px;
      border-radius: 12px;
      overflow: hidden;
      margin-top: 25px;
    }
    .content__table th {
      color: white;
      padding: 20px 10px;
    }
    .content__table_header {
      background-color: #dc546c;
      font-size: 16px;
    }
    .content__table-checkbox {
      margin-top: 4px;
    }
    .content__table-checkbox-report {
      margin-left: 5px;
    }
    .content__table_body {
      font-size: 16px;
      background-color: #f1f1f1;
    }
    th {
    background-color: #6dbac7;
    color: white; /* Để làm cho văn bản trắng trên nền đỏ */
    }
    /* Định dạng hàng chẵn */
    tr:nth-child(even) {
    background-color: #F1F1F1;
    }
    /* Định dạng hàng lẻ */
    tr:nth-child(odd) {
      background-color: #E5E5E5;
    }
    .checkbox-row {
      display: flex;
      align-items: center;
    }
    .content__table_body td {
      padding: 10px 0px;
    }
    .approve {
      background-color: #5cbd4c;
      display: inline-block;
      padding: 4px 12px;
      border-radius: 12px;
      color: white;
    }
    .btn {
      padding: 6px 8px;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 4px;
    }
    .btn i {
      font-size: 20px;
      color: white;
    }
    .gold {
      background-color: #f4924b;
    }
    .blue {
      background-color: #1b59f8;
    }
    .green {
      background-color: #5cbd4c;
    }
    .yellow{
      background-color: #FFC123;
    }
    .paging {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-top: 20px;
    }
    .paging--active {
      background-color: #dc546c !important;
      color: white !important;
    }
    .paging button {
      padding: 10px 14px;
      margin: 0px 8px;
      border: none;
      background-color: rgb(241, 241, 241);
      cursor: pointer;
      font-size: 16px;
      border-radius: 10px;
      outline: none;
    }
    .menu__dropwdown {
      width: 250px;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      position: relative;
      padding: 2px;
      display: none;
      transition: all 0.5s;
    }
    .menu__dropdown_logo {
      padding: 30px;
      width: 100%;
    }
    .menu__dropdown_logo img {
      width: 100%;
    }
    .menu__dropwdown .menu__title {
      text-align: left;
      padding: 0px 20px;
    }
    .menu__dropwdown .menu__items {
      text-align: left;
      margin: 0px;
      padding: 10px 0px;
      display: block;
      text-decoration: none;
    }
    .menu__dropwdown .menu__items .menu__icon {
      display: flex;
      align-items: center;
      padding: 0px 20px;
      justify-content: space-between;
    }
    .menu__dropwdown .menu__items .menu__icon .menu__dropdown_icon {
      display: flex;
      align-items: center;
    }
    .menu__dropwdown .menu__items .menu__icon .menu__dropdown_icon p {
      color: black;
      margin-left: 10px;
      font-size: 18px;
      margin-top: 4px;
    }
    .active {
      color: #d72134 !important;
    }
    .menu__icon_open i {
      font-size: 20px;
      margin-top: 6px;
      transition: all 0.3s;
    }
    .menu__dropdown_nav {
      padding-left: 44px;
      font-size: 14px;
      margin-top: 10px;
      display: none;
      transition: all 0.5s;
    }
    .menu__dropdown_list {
      list-style: none;
    }
    .menu__dropdown_list li {
      color: black;
      padding: 10px 0px;
    }
    .icon__notification {
      width: 15px;
      height: 15px;
      background-color: #d72134;
      border-radius: 50%;
      margin-top: 4px;
    }
    .menu__regime {
      display: flex;
      align-items: center;
      margin: 10px 40px 0px 20px;
      padding: 10px 12px;
      justify-content: center;
      background: #f5f5f5;
      border-radius: 10px;
    }
    .regime__light,
    .regime__dark {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .regime__dark {
      margin-left: 10px;
      background: gray;
      color: black;
      padding: 6px 10px;
      border-radius: 40px;
    }
    .regime__light {
      background-color: white;
      padding: 6px 10px;
      border-radius: 40px;
      color: black;
    }
    .regime__light p,
    .regime__dark p {
      margin-left: 10px;
    }
    /* Toggle */
    #statistics .show {
      display: block;
    }
    .show .menu__icon_open i {
      transform: rotate(-180deg);
    }
    .show ~ .menu__dropdown_nav {
      display: block;
    }
    #btn-dropdown {
      position: absolute;
      left: 234px;
      top: 40px;
    }
    #btn-dropdown button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #d72134;
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
    }
    #btn-dropdown button i {
      font-size: 16px;
      transition: all 0.5s;
    }
    #btn-menu {
      position: absolute;
      left: 78px;
      top: 30px;
    }
    #btn-menu button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #d72134;
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
    }
    #btn-menu button i {
      font-size: 16px;
      transition: all 0.5s;
    }
    .generality__options {
      display: flex;
      align-items: center;
    }
    .btn__addmember button {
      display: flex;
      align-items: center;
      padding: 14px 16px;
      border: none;
      outline: none;
      background-color: blue;
      color: white;
      cursor: pointer;
      border-radius: 12px;
    }
    .btn__addmember button p {
      margin-left: 6px;
      min-width: 80px;
    }
    .btn__addfile {
      margin: 0px 24px;
    }
    .btn__addfile button {
      display: flex;
      align-items: center;
      padding: 14px 16px;
      border-radius: 12px;
      border: none;
      color: white;
      background-color: green;
      cursor: pointer;
    }
    .btn__addfile button p {
      margin-left: 6px;
    }
    .select__options select {
      padding: 8px 6px;
      border-radius: 10px;
    }
    .container__info {
      height: 560px;
      width: 100%;
      border-radius: 14px;
      overflow: hidden;
      position: relative;
    }
    .info__img {
      background-image: url("./assets/img/Bird.jpg");
      width: 20%;
      float: left;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    .info__content {
      background-color: white;
      padding: 100px 0px 100px 100px;
      float: right;
      width: 80%;
      height: 100%;
    }
    .info__title {
      margin-left: 32px;
    }
    .info__title h1 {
      padding-bottom: 6px;
    }
    .info {
      font-size: 16px;
      color: gray;
      margin: 6px 0px 40px 0px;
      border-top: 4px solid red;
    }
    .info__list li {
      display: flex;
      align-items: center;
      list-style: none;
      font-size: 16px;
      margin: 40px 0px;
    }
    .info__list li p {
      margin: 0px 80px 0px 20px;
      color: gray;
      font-size: 18px;
      text-align: left;
    }
    .info__list li span {
      width: 12px;
      height: 12px;
      border: 1px solid gray;
      border-radius: 50%;
    }
    .info__user_img {
      position: absolute;
      top: 50px;
      left: 190px;
      border-radius: 50%;
      border: 4px solid white;
      width: 164px;
      height: 164px;
    }
    .info__user_img img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .btn_edit-info {
      position: absolute;
      top: 20px;
      left: 20px;
    }
    .btn_edit-info button {
      padding: 10px 20px;
      border: none;
      cursor: pointer;
      outline: none;
      background-color: white;
      border-radius: 40px;
    }
    .generality__options button {
      min-width: 120px;
      padding: 0px !important;
      margin: 0px !important;
      min-height: 70px;
      display: flex;
      justify-content: center;
    }
    .generality__options button p {
      padding: 0px;
      margin: 0px;
    }
    .popup__SendFeedback {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
    .popup__inner_feedback {
      background-color: white;
      width: 50%;
      border: 2px solid black;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      height: 48%;
      display: none;
    }
    .popup_header_feedback {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid black;
      padding: 10px;
      align-items: center;
      background-color: #dc546c;
      color: white;
      border-radius: 12px 12px 0px 0px;
    }
    .popup_body_feedback {
      padding: 2rem 4rem 2rem 4rem;
      display: flex;
      flex-direction: column;
      border: none;
    }
    .popup_footer_feedback {
      display: flex;
      justify-content: end;
      padding: 0rem 4rem 2rem 0rem;
    }
    .popup_footer_feedback button {
      padding: 10px 40px;
      border-radius: 12px;
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
    .select-row {
      width: 100%;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
    }
    .select-row p,
    .select-row select,
    .select-row option,
    .total__report {
      font-weight: 600;
      white-space: nowrap; 
    }
    .select-row .select-field {
      padding: 10px;
      border-radius: 12px;
      border: 1px solid #e0e7ed;
      background: #F8F8F8;
      color: #fff;
    }
    .select-row .select-field option {
      background: #fff;
      color: black;
    }
    .periodReport {
      padding: 0.5rem;
      border-radius: 12px;
    }
    .calendarReport {
      padding: 0.5rem;
      border-radius: 12px;
    }
    .btn gold {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;
    }
    .btn gold:hover {
      visibility: visible;
    }
    .btn green {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      /* Position the tooltip */
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;
    }
    .btn green:hover {
      visibility: visible;
    }
    .btn[data-tooltip]:hover::after {
      content: attr(data-tooltip);
      position: absolute;
      padding: 5px;
      border-radius: 5px;
      left: 100%;
      top: 100%;
      white-space: nowrap;
      z-index: 1;
      background-color: red;
      color: white;
      overflow: hidden;
    } 
    .custom_checkbox{
        height: 18px;
        width: 18px;
    }
    .total_box{
        width: auto;
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 12px;
        color: #fff;
    }
    <%#custom chart%>
    .chart-container {
      position: relative;
      width: 100%; /* Đặt chiều rộng của phần tử chứa biểu đồ là 100% */
      max-width: 1500px; /* Tối đa chiều rộng của phần tử chứa biểu đồ (đổi từ 900px) */
    }

    canvas {
      width: 100% !important; /* Đặt chiều rộng của thẻ canvas là 100% */
      height: 100% !important; /* Đặt chiều cao của thẻ canvas là 100% */
    }
    .header-chart{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction:column;
        width: 100%;
        margin: 20px 0px;
        padding: 14px 20px;
        background-color: #fff;
        border-radius: 12px;
    }
    .year-select{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .year-select-content{
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .year-select-content .select-field-content{
        padding: 10px;
        border-radius: 12px;
        border: 1px solid #e0e7ed;
        background: #F8F8F8;
        color: black;
    }
  </style>
  <body>
    <main class="container">
    <%= render "shared/left_nav"%>
    <div class="content">
      <%= render 'shared/header' %>
      <h1 class="content__name">THỐNG KÊ</h1>
      <div class="generality__options">
        <div class="select-row">
          <div class="total_box" style="background: #ADDDFF;">
            <span style="font-weight:600">Khởi tạo: </span>
            <span style="font-weight:600"><%= @data[:chart][:khoi_tao] %></span>
          </div>
          <div class="total_box" style="background: #678EF8;">
            <span style="font-weight:600">Lưu nháp: </span>
            <span style="font-weight:600"><%= @data[:chart][:luu_nhap] %></span>
          </div>
          <div class="total_box" style="background: #5CBD4C;">
            <span style="font-weight:600">Đúng hạn: </span>
            <span style="font-weight:600"><%= @data[:chart][:dung_han] %></span>
          </div>
          <div class="total_box" style="background: #B70619;">
            <span style="font-weight:600">Trễ hạn: </span>
            <span style="font-weight:600"><%= @data[:chart][:tre_han] %></span>
          </div>
          <div class="total_box" style="background: #828282;">
            <span style="font-weight:600">Cần Bổ Sung: </span>
            <span style="font-weight:600"><%= @data[:chart][:can_bo_sung] %></span>
          </div>
          <div class="total_box" style="background: #1B59F8;">
            <span style="font-weight:600">Đã duyệt: </span>
            <span style="font-weight:600"><%= @data[:chart][:da_duyet] %></span>
          </div>
          <div class="total_box" style="background: #FFC123;">
            <span style="font-weight:600">Chờ duyệt: </span>
            <span style="font-weight:600"><%= @data[:chart][:cho_duyet] %></span>
          </div>
        </div>
      </div>
      <div class="content-generality">
        <div class="generality__options">
          <div class="select-row">
            <%= form_with url: report_chart_path, method: :get, class: "d-flex align-items-center", id: "fillter_form" do %>
              <span style="font-weight:600">Tên kỳ báo cáo</span>
              <%= text_field_tag "filter_academic", nil, placeholder: "Tìm kiếm tài khoản", class: "custom-text-field d-none"%>
              <select class="select-field" style="background: #DC4C5D" id="selected_academic">
                <%Academic.all.each do |a|%>
                  <option  value="<%= a.id%>"><%= a.name%></option>
                <% end %>
              </select>
              <span style="padding-left: 2rem; font-weight:600">Vai trò</span>
              <%= text_field_tag "filter_role", nil, placeholder: "Tìm kiếm tài khoản", class: "custom-text-field d-none"%>
              <select class="select-field" style="background: #DC4C5D" id="selected_role">
                <option value="" selected>Tất cả</option>
                <option value="Nhân viên">Nhân viên</option>
                <option value="Giảng viên">Giảng viên</option>
                <option value="Phụ trách bộ môn">Phụ trách bộ môn</option>
                <option value="Ban chủ nhiệm khoa">Ban chủ nhiệm khoa</option>
              </select>

            <%# <input type="checkbox" class="custom_checkbox"> %>
              <span style="padding-left: 2rem; font-weight:600">Khoa</span>
              <%= text_field_tag "filter_faculty", nil, placeholder: "Tìm kiếm tài khoản", class: "custom-text-field d-none"%>
              <select class="select-field" style="background: #FFC123" id="selected_faculty" >
                <option value="" selected>Tất cả</option>
                <% Faculty.all.each do |f| %>
                  <option value="<%= f.id %>"><%= f.name %></option>
                <% end %>
              </select>

            <%# <input type="checkbox" class="custom_checkbox"> %>
              <span style="padding-left: 2rem; font-weight:600">Bộ môn</span>
              <%= text_field_tag "filter_subject", nil, placeholder: "Tìm kiếm tài khoản", class: "custom-text-field d-none"%>
              <select class="select-field" style="background: #FFC123" id="selected_subject">
                <option value="" selected>Tất cả</option>
                <% Subject.all.each do |s| %>
                  <option value="<%= s.id %>"><%= s.name %></option>
                <% end %>
              </select>
            <% end %>
          </div>
        </div>
        <div class="report_total">
          <span style="font-weight:700; color: #DC4C5D">TỔNG BÁO CÁO: </span>
          <span style="font-weight:700"><%= @data[:tong_bao_cao]%></span>
        </div>
            <%#<div class="generality__search">
            <div class="generality__search_icon">
            <i class="fa-solid fa-magnifying-glass"></i>
            </div>  
            <input type="text" id="searchInput" placeholder="Tìm kiếm kỳ báo cáo">
            </div>%>
      </div>
      <div class="header-chart">       
        <div class="year-select">
          <span style="font-weight:600">BIỂU ĐỒ THỐNG KÊ BÁO CÁO</span>
          <%#<div class="year-select-content">
            <span style=" font-weight: 600; padding-right: 10px">Thời gian báo cáo</span>
            <select class="select-field-content">
              <option selected>1</option>
              <option value="1">2</option>
              <option value="2">3</option>
              <option value="3">4</option>
              <option value="4">5</option>
              <option value="4">5</option>
              <option value="5">6</option>
              <option value="6">7</option>
              <option value="7">8</option>
              <option value="8">9</option>
              <option value="9">10</option>
              <option value="10">11</option>
              <option value="11">12</option>             
            </select>
            <span style=" font-weight:600; padding-left: 10px; padding-right: 10px">/</span>
            <select class="select-field-content">
              <option selected>2025</option>
              <option value="1">2024</option>
              <option value="2">2023</option>
              <option value="3">2022</option>
              <option value="4">2021</option>
            </select>
            <div class="btn__addfile">
              <button style=" background-color: #006D77 ;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25)"> 
                <i class="fa-solid fa-filter" title="Lọc theo thời gian" data-tooltip="Tooltip Text"></i>
              </button>
            </div>
          </div>%>
        </div>
        <hr  width="100%" >
        <div class="chart-container">
          <canvas id="myChart"></canvas>
        </div>
      </div>
    </div>
    </main>
  </body>
  <script >
    //Menu drop
    const getEle = (id) =>{
        return document.getElementById(id)
    }
    getEle("statistics").addEventListener("click",()=>{
        getEle("statistics").classList.toggle("show")
    })
    getEle("report").addEventListener("click",()=>{
        getEle("report").classList.toggle("show")
    })
    
    getEle("btn-dropdown").addEventListener("click",()=>{
        getEle("menu-dropdown").style.display  = "none"
        getEle("menu").style.display  = "block"
    
    })
    getEle("btn-menu").addEventListener("click",()=>{
        getEle("menu-dropdown").style.display = "block"
        getEle("menu").style.display = "none"
    })

    //chart
    // Dữ liệu cho biểu đồ
        var data = {
            labels: ['Khởi Tạo', 'Lưu Nháp', 'Đúng Hạn', 'Trễ Hạn', 'Đã duyệt', 'Chờ Duyệt', 'Cần Bổ Sung', 'Chưa báo cáo'],
            datasets: [
                {
                    label: 'Loại, Trạng thái',
                    data: <%= @data[:chart].values[1..-1] %>,
                    backgroundColor: '#006D77'
                },
            ]
        };

        var options = {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Loại, Trạng Thái' // Tên trục X
                    }
                },
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Số Lượng' // Tên trục Y
                    }
                }
            }
        };

        // Tạo biểu đồ cột
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar', // Loại biểu đồ cột
            data: data,
            options: options
        });
        
  </script>

  <script>
    $("#selected_academic").on("change", function(e){
      $("#filter_academic").val(`${$(e.target).find(":selected").val()}`)
    })

    $("#selected_role").on("change", function(e){
      $("#filter_role").val(`${$(e.target).find(":selected").val()}`)
    })

    $("#selected_faculty").on("change", function(e){
      $("#filter_faculty").val(`${$(e.target).find(":selected").val()}`)
    })

    $("#selected_subject").on("change", function(e){
      $("#filter_subject").val(`${$(e.target).find(":selected").val()}`)
    })

    $("select").on("change", function(e){
      $("#filter_academic").val(`${$("#selected_academic").find(":selected").val()}`)
      $("#filter_role").val(`${$("#selected_role").find(":selected").val()}`)
      $("#filter_faculty").val(`${$("#selected_faculty").find(":selected").val()}`)
      $("#filter_subject").val(`${$("#selected_subject").find(":selected").val()}`)
      $("#fillter_form").submit()
    })

    if(<%= @data[:fillter][:filter_academic].present? %>){
      document.getElementById('selected_academic').value='<%= @data[:fillter][:filter_academic] %>';
    }

    if(<%= @data[:fillter][:filter_role].present? %>){
      document.getElementById('selected_role').value='<%= @data[:fillter][:filter_role] %>';
    }

    if(<%= @data[:fillter][:filter_subject].present? %>){
      document.getElementById('selected_subject').value='<%= @data[:fillter][:filter_subject] %>';
    }
    
    if(<%= @data[:fillter][:filter_faculty].present? %>){
      document.getElementById('selected_faculty').value='<%= @data[:fillter][:filter_faculty] %>';
    }

  </script>
</html>