<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>
  <style>
    .container {
      max-width: 100%;
      display: flex;
      padding: 0px;
    }
    .content__table th {
      color: white;
      padding: 30px 10px;
    }
    th,
    td {
      border: 1px solid black;
      overflow: hidden;
    }
    .first_column {
      padding: 0;
      border: none;
      background-color: #f5f5f5;
      width: 30px;
    }
    .color_row {
      background-color: #ababab;
      font-weight: bold;
    }
    .list_table {
      display: none;
    }
    #myTable12,
    #myTable13,
    #myTable14,
    #myTable15 {
      display: none;
    }
    .showTable {
      display: table-row-group !important;
    }
    .showTableNhom {
      display: table !important;
      width: 100%;
    }
    /* Popup */
    #popup__guiBaocao {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
    #popup__inner {
      background-color: white;
      width: 30%;
      border: 2px solid black;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      height: 30%;
    }
    .popup_header {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      align-items: center;
      background-color: #dc546c;
      color: white;
    }
    .popup_body {
      padding: 60px 0px;
      text-align: center;
    }
    .popup_foiter {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    .popup_foiter button {
      padding: 10px 40px;
      border-radius: 12px;
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html,
    body {
      height: 100%;
      margin: 0;
      overflow: hidden;
    }
    /* MENU */
    .menu {
      background-color: white;
      width: 100px;
      max-height: 100%;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      transition: all 0.5s;
      display: block;
      position: relative;
    }
    .menu__title {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
    .menu__logo {
      width: 100%;
      padding: 20px;
    }
    .menu__logo img {
      width: 100%;
    }
    .menu__items {
      width: 100%;
      text-align: center;
      padding: 20px 0px 20px;
      cursor: pointer;
      color: #dadada;
      display: block;
    }
    .menu__items--separation {
      margin-bottom: 40px;
    }
    .menu__icon i {
      font-size: 20px;
    }
    .menu__icon {
      padding: 6px 0px;
    }
    .menu__active {
      border-left: 2px solid #d72134;
      color: #d72134 !important;
    }
    /* Content */
    .content-header{
      padding: 25px 0px 10px 40px;
      display: flex;
      justify-content: start;
      flex-direction: row;
      align-items: center;
    }
    .content-header h1 {
      padding: 15px 0px 10px 40px;
      font-size: 30px;
    }
    .content {
      background-color: #f5f5f5;
      width: 100%;
      padding: 30px 60px 20px 30px;
      overflow-Y: scroll;
    }
    .content__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .content__name {
      padding: 40px 0px 10px 40px;
      font-size: 30px;
    }
    .content__breadcrumb {
      font-size: 16px;
      font-weight: bold;
      margin-left: 20px;
    }
    .breadcrumb__Report {
      display: inline-block;
      margin-left: 10px;
      color: #f34f68;
      padding: 12px 0px;
    }
    .content__user {
      display: flex;
      align-items: center;
    }
    .user_icon {
      font-size: 24px;
      margin-right: 14px;
      margin-top: 6px;
    }
    .user__info {
      margin-right: 10px;
      font-size: 16px;
    }
    .user__info p {
      text-align: right;
    }
    .user__img img {
      border-radius: 50%;
      width: 40px;
      height: 100%;
    }
    .user__img {
      margin-right: 10px;
    }
    .user__detail {
      font-size: 20px;
      cursor: pointer;
      color: gray;
    }
    .content__generality {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin: 20px 0px;
      background: #f1f1f1;
      border-radius: 8px;
    }
    .generality__total {
      display: flex;
      align-items: center;
    }
    .generality__select {
      margin-left: 10px;
      margin-right: 20px;
    }
    .generality__select select {
      width: 60px;
      height: 40px;
      border-radius: 4px;
      outline: none;
    }
    .content__btn {
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      border-radius: 10px;
    }
    .content__btn button {
      cursor: pointer;
      padding: 12px 20px;
      outline: none;
      border-radius: 10px;
      font-size: 16px;
      background-color: white;
      border: 1px solid gray;
      color: black;
    }
    .content__btn button i {
      margin-left: 6px;
    }
    .generality__search {
      position: relative;
    }
    .generality__search_icon {
      position: absolute;
      top: 5px;
      left: 6px;
      font-size: 12px;
      color: gray;
      cursor: pointer;
      padding: 10px;
    }
    .generality__search input {
      padding: 14px 40px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 20px 0px;
      border: none;
      outline: none;
      border-radius: 6px;
    }
    .content__table {
      width: 100%;
      text-align: center;
      border: none;
      border-spacing: 0px;
      border-radius: 12px;
      overflow: hidden;
      margin-top: 25px;
    }
    .content__table_header {
      background-color: #dc546c;
      font-size: 16px;
    }
    .content__table-checkbox {
      margin-top: 4px;
    }
    .content__table-checkbox-report {
      margin-left: 5px;
    }
    .content__table_body {
      font-size: 16px;
    }
    .checkbox-row {
      display: flex;
      align-items: center;
    }
    .content__table_body td {
      padding: 10px 0px;
    }
    .approve {
      background-color: #5cbd4c;
      display: inline-block;
      padding: 4px 12px;
      border-radius: 12px;
      color: white;
    }
    .btn {
      padding: 6px 8px;
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 4px;
    }
    .btn i {
      font-size: 20px;
      color: white;
    }
    .gold {
      background-color: #f4924b;
    }
    .blue {
      background-color: #1b59f8;
    }
    .green {
      background-color: #5cbd4c;
    }
    .paging {
      display: flex;
      justify-content: end;
      align-items: center;
      margin-top: 20px;
    }
    .paging--active {
      background-color: #d72134 !important;
      color: white !important;
    }
    .paging button {
      padding: 10px 14px;
      margin: 0px 8px;
      border: none;
      background-color: rgb(241, 241, 241);
      cursor: pointer;
      font-size: 16px;
      border-radius: 10px;
      outline: none;
    }
    .menu__dropwdown {
      width: 250px;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      position: relative;
      padding: 2px;
      display: none;
      transition: all 0.5s;
    }
    .menu__dropdown_logo {
      padding: 30px;
      width: 100%;
    }
    .menu__dropdown_logo img {
      width: 100%;
    }
    .menu__dropwdown .menu__title {
      text-align: left;
      padding: 0px 20px;
    }
    .menu__dropwdown .menu__items {
      text-align: left;
      margin: 0px;
      padding: 10px 0px;
      display: block;
      text-decoration: none;
    }
    .menu__dropwdown .menu__items .menu__icon {
      display: flex;
      align-items: center;
      padding: 0px 20px;
      justify-content: space-between;
    }
    .menu__dropwdown .menu__items .menu__icon .menu__dropdown_icon {
      display: flex;
      align-items: center;
    }
    .menu__dropwdown .menu__items .menu__icon .menu__dropdown_icon p {
      color: black;
      margin-left: 10px;
      font-size: 18px;
      margin-top: 4px;
    }
    .active {
      color: #d72134 !important;
    }
    .menu__icon_open i {
      font-size: 20px;
      margin-top: 6px;
      transition: all 0.3s;
    }
    .menu__dropdown_nav {
      padding-left: 44px;
      font-size: 14px;
      margin-top: 10px;
      display: none;
      transition: all 0.5s;
    }
    .menu__dropdown_list {
      list-style: none;
    }
    .menu__dropdown_list li {
      color: black;
      padding: 10px 0px;
    }
    .icon__notification {
      width: 15px;
      height: 15px;
      background-color: #d72134;
      border-radius: 50%;
      margin-top: 4px;
    }
    .menu__regime {
      display: flex;
      align-items: center;
      margin: 10px 40px 0px 20px;
      padding: 10px 12px;
      justify-content: center;
      background: #f5f5f5;
      border-radius: 10px;
    }
    .regime__light,
    .regime__dark {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .regime__dark {
      margin-left: 10px;
      background: gray;
      color: black;
      padding: 6px 10px;
      border-radius: 40px;
    }
    .regime__light {
      background-color: white;
      padding: 6px 10px;
      border-radius: 40px;
      color: black;
    }
    .regime__light p,
    .regime__dark p {
      margin-left: 10px;
    }
    /* Toggle */
    #statistics .show {
      display: block;
    }
    .show .menu__icon_open i {
      transform: rotate(-180deg);
    }
    .show ~ .menu__dropdown_nav {
      display: block;
    }
    #btn-dropdown {
      position: absolute;
      left: 234px;
      top: 40px;
    }
    #btn-dropdown button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #d72134;
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
    }
    #btn-dropdown button i {
      font-size: 16px;
      transition: all 0.5s;
    }
    #btn-menu {
      position: absolute;
      left: 78px;
      top: 30px;
    }
    #btn-menu button {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: #d72134;
      color: black;
      border: none;
      outline: none;
      cursor: pointer;
      text-align: center;
    }
    #btn-menu button i {
      font-size: 16px;
      transition: all 0.5s;
    }
    .generality__options {
      display: flex;
      align-items: center;
    }
    .btn__addmember button {
      display: flex;
      align-items: center;
      padding: 14px 16px;
      border: none;
      outline: none;
      background-color: blue;
      color: white;
      cursor: pointer;
      border-radius: 12px;
    }
    .btn__addmember button p {
      margin-left: 6px;
    }
    .btn__addfile {
      margin: 0px 24px;
    }
    .btn__addfile button {
      display: flex;
      align-items: center;
      padding: 14px 16px;
      border-radius: 12px;
      border: none;
      color: white;
      background-color: green;
      cursor: pointer;
    }
    .btn__addfile button p {
      margin-left: 6px;
    }
    .select__options select {
      padding: 8px 6px;
      border-radius: 10px;
    }
    .reportTitleStatus {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .deadlineReport {
      display: flex;
      flex-direction: row;
    }
    /* POPUP-FEEKBACK */
    .popup__SendFeedback {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
    .popup__inner_feedback {
      background-color: white;
      width: 50%;
      border: 2px solid black;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
      height: 48%;
      display: none;
    }
    .popup_header_feedback {
      width: 100%;
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid black;
      padding: 10px;
      align-items: center;
      background-color: #dc546c;
      color: white;
      border-radius: 12px 12px 0px 0px;
    }
    .popup_body_feedback {
      padding: 2rem 4rem 2rem 4rem;
      display: flex;
      flex-direction: column;
      border: none;
    }
    .popup_footer_feedback {
      display: flex;
      justify-content: end;
      padding: 0rem 4rem 2rem 0rem;
    }
    .popup_footer_feedback button {
      padding: 10px 40px;
      border-radius: 12px;
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }
    .feedback__btn {
      background-color: #f4924b;
    }

    <%# popup attachment%>
    .popup_Attachment {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }
    .popup_header_attachment {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid black;
      padding: 10px;
      align-items: center;
      background-color: #dc546c;
      color: white;
      border-radius: 12px 12px 0px 0px;
    }
    .popup_body_attachment {
      padding: 2rem 4rem 2rem 4rem;
      display: flex;
      flex-direction: column;
      border: none;
      overflow-Y: scroll;
      height: auto;
    }
    .popup_footer_attachment {
      display: flex;
      justify-content: end;
      padding: 0rem 4rem 2rem 0rem;
    }
    .popup_footer_attachment button {
      padding: 10px 40px;
      border-radius: 12px;
      border: none;
      outline: none;
      cursor: pointer;
      color: white;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    }

    <%#format danh sách attachment%>
    #fileList {
      list-style: none; /* Loại bỏ dấu chấm đầu dòng */
      padding: 0; /* Loại bỏ padding mặc định */
      overflow-Y: scroll;
      height: 200px
    }
    #fileList div {
      border-radius: 12px;
      border: 1px solid #ccc;
      margin: 5px; 
      padding: 10px; 
      background-color: #f9f9f9; 
      display: flex; 
      align-items: center; 
      justify-content: space-between;
    }
    #fileList a {
      <%#text-decoration: none;%> /* Loại bỏ đường gạch chân cho liên kết */
      color: #333;
    }
    #fileList button {
      border-radius: 12px;
      border: 1px solid #dc546c;
      margin-left: 10px;
      background-color: #dc546c; 
      color: white; 
      border: none; 
      padding: 5px 10px;
      cursor: pointer;
      width: 8%;
    }
    #fileList button:hover {
      border: 1px solid #dc546c;
      background-color: white;
      color: #dc546c;
    }
    <%#custome nút chọn tệp%>
    .file_upload_container {
      display: flex;
      align-items: center;
      justify-content: start;
    }
    .file_upload {
      border: 1px solid #ccc;
      padding: 6px 12px;
      cursor: pointer;
      border-radius: 12px;
      margin-right: 2rem;
    }
    .file_upload:hover {
      background: #f5f5f5;
    }
    /*fileList Cho trình duyệt WebKit (Chrome, Safari) */
    .fileList::-webkit-scrollbar {
      width: 10px;
    }

    .fileList::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }

    /*fileList Cho trình duyệt Firefox */
    .fileList {
      scrollbar-width: thin;
      scrollbar-color: #888 transparent;
    }

    .fileList::-moz-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }
    
    /* Cho trình duyệt WebKit (Chrome, Safari) */
    .popup_body_attachment::-webkit-scrollbar {
      width: 10px;
    }

    .popup_body_attachment::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }

    /* Cho trình duyệt Firefox */
    .popup_body_attachment {
      scrollbar-width: thin;
      scrollbar-color: #888 transparent;
    }
    .popup_body_attachment::-moz-scrollbar-thumb {
      background-color: #888;
      border-radius: 5px;
    }
  </style>
  <body>
    <main class="container">
      <%= render "shared/left_nav"%>
      <div class="content">
       <%= render 'shared/header' %>
        <div class="content-header">
          <div class="btn__addmember">
            <%= link_to report_index_path, style:"text-decoration: none;", data: {turbo: false} do %>
              <button aria-label="send_baocao" style=" background-color: #d72134;box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 
                0px 4px 4px 0px rgba(0, 0, 0, 0.25);" title="Quay lại" data-tooltip="Tooltip Text">
                <i class="fa-solid fa-chevron-left"></i>
              </button>
            <% end %>
          </div> 
          <h1 class="content__name">CHI TIẾT BÁO CÁO CÁ NHÂN</h1>
        </div>
        <div class="content__generality" style="padding: 0px 20px;">
          <div class="generality__search">
            <%#<div class="generality__search_icon">
              <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <input type="text" placeholder="Tìm kiếm báo cáo" disabled>%>
            <div class="reportTitleStatus">
              <div class="statusCreateReport" style="padding-right: 2rem">
                <span style= "font-weight: 800; padding-right: 1rem">Trạng thái: </span>
                <span><%= @report_template.report_type&.name_type%></span>
              </div>
              <div class="timeCreate" style="padding-right: 2rem">
                <span style= "font-weight: 800; padding-right: 1rem">Thời gian tạo: </span>
                <span><%= @report_template.created_at&.strftime('%d/%m/%Y %T') %></span>
              </div>
              <div class="timeEdit" style="padding-right: 2rem">
                <span style= "font-weight: 800; padding-right: 1rem">Thời gian sửa: </span>
                <span><%= @report_template.updated_at&.strftime('%d/%m/%Y %T') %></span>
              </div>
            </div>
          </div>
          <div class="generality__options" style="padding: 14px 20px;">
            <div class="btn__addfile"  style="margin: 0px;">
                <button aria-label="btn__addfile" style="background-color: #fff; color:#678EF8; border: 1px solid #678EF8;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);" onclick="showAttachment()">
                <i class="fa-solid fa-paperclip" style="padding-right: 0.5rem"></i>
                TỆP ĐÍNH KÈM
                </button>
            </div>
            <div id="send_Feedback" class="btn__addfile" style="margin-right: 0px;">
              <button
                aria-label="send_Feedback"
                class="feedback__btn"
                onclick="showFeedbackPopup()"
                style="background-color: #f4924b;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);"
                >
              <i class="fa-regular fa-message" style="padding-right: 1rem"></i>
              PHẢN HỒI
              </button>
            </div>
            <!-- POPUP PHẢN HỒI -->
            <div id="popup_SendFeedback" class="popup__SendFeedback">
              <div
                id="popup__inner_feedback"
                style="
                background-color: white;
                border-radius: 12px;
                border-bottom: 2px solid black;
                width: 60%;
                height: auto;
                "
                >
                <div class="popup_header_feedback">
                  PHẢN HỒI CỦA BÁO CÁO            
                  <i id="close__popupFeedBabk" onclick="hideFeedbackPopup()" style="cursor: pointer;padding: 10px;" class="fa-solid fa-xmark"></i>
                </div>
                <div class="popup_body_feedback">
                  <input
                    style="border-radius: 12px; padding: 1rem; margin-bottom: 1rem"
                    class="email_receiver"
                    type="text"
                    placeholder="<%= @report_template.submiter_admin&.name || @report_template.returner_admin&.name || 'N/A'%> "
                    disabled
                    />
                  <textarea
                    disabled
                    name="content_feedback"
                    id=""
                    cols="30"
                    rows="10"
                    placeholder="Nội dung phản hồi"
                    style="
                    border-radius: 12px;
                    padding: 1rem;
                    margin-bottom: 1rem;
                    resize: none;
                    "
                    ><% if @report_template.feedback.present? %><% JSON.parse(@report_template.feedback).each_with_index do |f, index| %><%= "#{index+1}. #{f}" %>.&#13;&#10
                                                                <% end %>
                    <% end %></textarea>
                </div>
                <div class="popup_footer_feedback">
                  <button
                    class="btn__closeFeedback"
                    style="background-color: #dc546c"
                    onclick="hideFeedbackPopup()"
                    >
                  ĐÓNG
                  </button>
                </div>
              </div>
            </div>
            <div id="popup_Attachment" class="popup_Attachment">
              <div
                id="popup__inner_feedback"
                style="
                background-color: white;
                border-radius: 12px;
                border-bottom: 2px solid black;
                width: 60%;
                height: auto;"
              >
                <div class="popup_header_attachment"> 
                  TỆP ĐÍNH KÈM CỦA BÁO CÁO CÁ NHÂN
                  <i id="close__popupFeedBabk" style="cursor: pointer;padding: 10px;" class="fa-solid fa-xmark" onclick="hideAttachment()"></i>
                </div>
                <div class="popup_body_attachment" style="overflow-y:scroll; height:80vh">
                  <% @report_template_title.keys.each_with_index do |value, index| %>
                    <div style="height: 300px" class="upload_file">
                      <h5><%= "#{index+1}. #{value}" %></h5>
                        <div class="file_upload_container">
                          Số lượng tệp đã chọn:&nbsp;<span style="font-weight:600" id="fileCount-<%= index %>"><%= @file_count[index]&.size %></span>
                        </div>
                        <div id="fileList<%= index %>" class="fileList">
                          <% @file_count[index]&.each do |file_id|%>
                            <div data-span-id="fileCount-<%= index %>" data-table-span-id="count-file-span-<%= index %>" data-current-table="<%= index %>">
                              <%= link_to report_download_attachment_path(@report_template, file_id: file_id), download: true, target: "_blank" do %>
                                <span><%= ReportAttachment.where(id: file_id).last&.attachment_identifier%></span>
                              <% end %>
                            </div>
                          <% end %>
                        </div>
                    </div>
                  <% end %>
                </div>
                <div class="popup_footer_attachment">
                  <button
                    class="btn__addfile btn__closeFeedback"
                    style="background-color: #dc546c"
                    onclick="hideAttachment()"
                  >
                    ĐÓNG
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% @report_template_title.keys.each_with_index do |key, index|%>
          <table class="content__table" style="border-radius: 0px; " >
            <thead>
              <tr class="content__table_header"  style="background-color: #006D77;" onclick="showTableList(this)" >
                <th class="first_column" style=" border: none;background-color: #f5f5f5;"></th>
                <th class="tableHeader" colspan="8" style="text-align: left;padding: 20px 20px;cursor: pointer;user-select: none; border-top-left-radius: 12px;
                border-top-right-radius: 12px; border: none"> <%= "#{index+1}. #{key}"%>
                <span>| </span>
                <span>Tệp: </span>
                <span id="count-file-span-<%= index %>"><%= @file_count[index]&.size %></span>
                </th>
              </tr>
            </thead>
            <% @report_template_title[key].each do |key, value|%>
            <tbody class="list_table">
              <tr class="content__table_header" style="background-color: #83C5BE;">
                <th style="padding: 0; border: none;background-color: #f5f5f5;"></th>
                <th class = "key_title">
                  <%= key %>
                </th>
                <% value["title"].each do |v| %>
                <th>
                  <%= v %>
                </th>
                <% end %>
              </tr>
              <% if value["content"].blank? %>
              <tr class="content__table_body" style="background-color: #EDF6F9;">
                <td class="first_column"  style="border: none;text-align: right;padding: 0;">
                  <button  onclick="delRow(this)" style="display: block;width: 100%;padding: 2px 0px;">
                  <i class="fa-solid fa-trash"></i>
                  </button>
                  <button  onclick="addRow(this)" style="display: block;width: 100%;padding: 2px 0px;">
                  <i class="fa-solid fa-plus"></i>
                  </button>
                </td>
                <% (value["title"].size + 1).times do |i|%>
                <td contenteditable="true" class= "content__table_body_td_value"></td>
                <% end %>
              </tr>
              <% else %>
              <% value["content"].each do |content_value|%>
              <tr class="content__table_body">
                <td class="first_column"  style="border: none;text-align: right;padding: 0;">
                </td>
                <% content_value.each do |c| %>
                <td class= "content__table_body_td_value"> <%= c %></td>
                <% end %>
              </tr>
              <% end %>
              <% end %>
            </tbody>
            <% end %>
          </table>
        <% end %>
        <%# <table class="content__table" style="border-radius: 0px; " >
          <thead >  <tr class="content__table_header"  style="background-color: #f4924b; "  onclick="showTableList(this)">
              <th class="first_column" style="padding: 0; border: none;background-color: #f5f5f5;"></th>
              <th id="tableHeader" colspan="8" style="text-align: left;padding: 20px 20px;border-top-left-radius: 12px;border-top-right-radius: 12px;cursor: pointer;user-select: none;">1. CÔNG VIỆC THỰC HIỆN THEO KPI </th>
          </tr></thead>
          <tbody id="tableBody"  class="list_table">
          <tr class="content__table_header">
              <th style="padding: 0; border: none;background-color: #f5f5f5;"></th>
              <th>
                  <input id="Checkbox11" onchange="toggleAllCheckboxes()"  class="content__table-checkbox" type="checkbox" placeholder="checkbox">
              </th>
              <th>
                  1.1
              </th>
              <th>
                  Công tác giảng dạy
              </th>
              <th>
                  Trống
                  <p>tiết / giờ</p>
              </th>
              <th>
                  Lớp / nhóm
              </th>
              <th>
                  Thứ
              </th>
              <th>
                  Ca
              </th>
              <th>
                  Ghi chú
              </th>
          </tr>
          <tr class="content__table_body">
              <td class="first_column"  style="border: none;text-align: right;padding: 0;">
                  <button  onclick="delRow(this)" style="display: block;width: 100%;padding: 2px 0px;">
                      <i class="fa-solid fa-trash"></i>
                  </button>
                  <button  onclick="addRow(this)" style="display: block;width: 100%;padding: 2px 0px;">
                      <i class="fa-solid fa-plus"></i>
                  </button>
              </td>
              <td> <input  class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
              <td>1</td>
              <td>text</td>
              <td>text</td>
              <td>text</td>
              <td>text</td>
              <td>text</td>
              <td>text</td>
          </tr>
          <tr class="content__table_body">
              <td class="first_column" style="padding: 0; border: none;background-color: #f5f5f5;"></td>
              <td> <input class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
              <td>2</td>
              <td>text</td>
              <td>text</td>
              <td>text</td>
              <td>text</td>
              <td>text</td>
              <td>test</td>
          </tr>
          <tr class="content__table_body">
              <td class="first_column" style="padding: 0; border: none;background-color: #f5f5f5;"></td>
              <td> <input class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
              <td>3</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>
              <td>test</td>    
          </tr>
          </tbody>
          
          
          </table> %>
        <%# 
          <table id="myTable12" class="content__table" style="border-radius: 0px;margin-top: 30px;" loading="lazy">
              <tr class="content__table_header">
                  <th style="padding: 0; border: none;background-color: #f5f5f5;"></th>
                  <th style="border-top-left-radius: 12px;">
                      <input id="Checkbox12" onchange="toggleAllCheckboxes12()" class="content__table-checkbox" type="checkbox" placeholder="checkbox">
                  </th>
                  <th>
                      1.2
                  </th>
                  <th style ="text-align: left;">
                      Công tác nghiên cứu khóa học
                  </th>
          
                  <th>
                      Tạp chí
                  </th>
                  <th>
                      Hạng
                  </th>
                  <th style="border-top-right-radius: 12px;">
                      Kết quả
                  </th>
          
              </tr>
          <tbody id="tablenhom1">
              <tr class="content__table_body">
                  <td style="padding: 0; border: none;background-color: #f5f5f5;"></td>
                  <td colspan="2" class="color_row">Nhóm 1</td>
                  <td class="color_row" style="text-align: left;">Nghiên cứu công bố quốc tế (CBQT)     </td>
                  <td class="color_row">test</td>
                  <td class="color_row">test</td>
                  <td class="color_row">test</td>
              </tr>
              <tr class="content__table_body">
                  <td style="border: none;text-align: right;padding: 0;">
                      <button id="delete" onclick="delRow12()" style="display: block;width: 100%;padding: 2px 0px;">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                      <button id="add" onclick="addRow12()" style="display: block;width: 100%;">
                          <i class="fa-solid fa-plus"></i>
                      </button>
                  </td>
                  
                  <td> <input class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
                  <td>1</td>
                  <td style="text-align: left;">test</td>
                  <td>test</td>
                  <td>test</td>
                  <td>test</td>
              </tr>
              <tr class="content__table_body">
                  <td style="padding: 0; border: none;background-color: #f5f5f5;"></td>
                  <td><input class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
                  <td>2</td>
                  <td style="text-align: left;">test</td>
                  <td>test</td>
                  <td>test</td>
                  <td>test</td>
          
              </tr>
          </tbody>
              
             <tbody id="tablenhom2">
              <tr class="content__table_body">
                  <td style="padding: 0; border: none;background-color: #f5f5f5;"></td>
                  <td colspan="2" class="color_row">Nhóm 2</td>
                  <td class="color_row" style="text-align: left;">  Nghiên cứu chuyển giao công nghệ cho doanh nghiệp và xã hội </td>
                  <td class="color_row">text</td>
                  <td class="color_row">text</td>
                  <td class="color_row">text</td>
          
              </tr>
              <tr class="content__table_body">
                  <td style="border: none;text-align: right;padding: 0;">
                      <button id="delete" onclick="delRow12nhom2()" style="display: block;width: 100%;padding: 2px 0px;">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                      <button onclick="addRow12nhom2()"style="display: block;width: 100%;">
                          <i class="fa-solid fa-plus"></i>
                      </button>
                  </td>
                  
                  <td> <input class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
                  <td>1</td>
                  <td style="text-align: left;">text</td>
                  <td>text</td>
                  <td>text</td>
                  <td>text</td>
              </tr>
              <tr class="content__table_body">
                  <td style="padding: 0; border: none;background-color: #f5f5f5;"></td>
                  <td><input class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
                  <td>2</td>
                  <td style="text-align: left;">text</td>
                  <td>text</td>
                  <td>text</td>
                  <td>text</td>
          
              </tr>
             </tbody>
            
          
           <tbody id="tablenhom3">
              <tr class="content__table_body">
                  <td style="padding: 0; border: none;background-color: #f5f5f5;"></td>
                  <td colspan="2" class="color_row">Nhóm 3</td>
                  <td class="color_row" style="text-align: left;">Nghiên cứu phục vụ giảng dạy và nâng cao kĩ năng nghề nghiệp</td>
                  <td class="color_row">test</td>
                  <td class="color_row">test</td>
                  <td class="color_row">test</td>
          
              </tr>
              <tr class="content__table_body">
                  <td style="border: none;text-align: right;padding: 0;">
                      <button id="delete" onclick="delRow12nhom3()" style="display: block;width: 100%;padding: 2px 0px;">
                          <i class="fa-solid fa-trash"></i>
                      </button>
                      <button onclick="addRow12nhom3()" style="display: block;width: 100%;">
                          <i class="fa-solid fa-plus"></i>
                      </button>
                  </td>
                  
                  <td> <input class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
                  <td>1</td>
                  <td style="text-align: left;">test</td>
                  <td>test</td>
                  <td>test</td>
                  <td>test</td>
              </tr>
              <tr class="content__table_body">
                  <td style="padding: 0; border: none;background-color: #f5f5f5;"></td>
                  <td><input class="content__table-checkbox" type="checkbox" placeholder="checkbox"></td>
                  <td>2</td>
                  <td style="text-align: left;">test</td>
                  <td>test</td>
                  <td>test</td>
                  <td>test</td>
          
              </tr>
           </tbody>
          </table> %>
      </div>
      <div id="popup__guiBaocao">
        <div id="popup__inner">
          <div class="popup_header">
            <p style="padding: 10px;">GỬI BÁO CÁO</p>
            <i id="close__popupBaocao" style="cursor: pointer;padding: 15px;" class="fa-regular fa-circle-xmark"></i></fa-regular>
          </div>
          <div class="popup_body">
            <p>Bạn có chắc gửi biểu này ?</p>
          </div>
          <div class="popup_foiter">
            <button id="btn__closeBaocao" style="background-color: #dc546c;">HỦY</button>
            <button style="background-color: #6C8DE0;">GỬI</button>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    //Menu drop
    const getEle = (id) =>{
        return document.getElementById(id)
    }
    getEle("statistics").addEventListener("click",()=>{
        getEle("statistics").classList.toggle("show")
    })
    
    
    getEle("btn-menu").addEventListener("click",()=>{
        getEle("menu-dropdown").style.transform = "translateX(0px)"
        getEle("menu-dropdown").style.display = "block"
        getEle("menu").style.display = "none"
        getEle("menu").style.transform = "translateX(-10000px)"
    })
    
    //popupAttachment
    function showAttachment() {
      document.getElementById("popup_Attachment").style.display = "flex";
    }
    function hideAttachment() {
      document.getElementById("popup_Attachment").style.display = "none";
    }

    //handle uploadfile
    const fileInput = document.getElementById('fileInput');
    const fileList = document.getElementById('fileList');
    const fileCountSpan = document.getElementById('fileCount');

    fileInput.addEventListener('change', updateFileList);

    function updateFileList() {
        fileList.innerHTML = '';
        const files = fileInput.files;
        const updatedFiles = Array.from(files);

        fileCountSpan.textContent = files.length; // Hiển thị số lượng tệp đã chọn

        for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const listItem = document.createElement('div');
            const fileLink = document.createElement('a');
            fileLink.textContent = file.name;
            fileLink.href = URL.createObjectURL(file);
            fileLink.download = file.name;

            // Tạo một button cho phép xóa tệp
            const deleteButton = document.createElement('button');
            deleteButton.textContent = 'XÓA';
            deleteButton.addEventListener('click', () => deleteFile(i, updatedFiles));

            listItem.appendChild(fileLink);
            listItem.appendChild(deleteButton);
            fileList.appendChild(listItem);
        }
    }

    function deleteFile(index, updatedFiles) {
        if (index >= 0) {
            updatedFiles.splice(index, 1); // Xóa tệp khỏi danh sách
            const dataTransfer = new DataTransfer();
            updatedFiles.forEach((file) => dataTransfer.items.add(file));
            fileInput.files = dataTransfer.files;

            // Cập nhật danh sách tệp
            updateFileList();
        }
    }

    // add row to table
    function addRow(e) {
      var row  = e.parentNode.parentNode.cloneNode(true)
      e.parentNode.parentNode.parentNode.appendChild(row)
      var tr_size = e.parentNode.parentNode.parentNode.getElementsByTagName("tr").length
      for (let td of e.parentNode.parentNode.parentNode.getElementsByTagName("tr")[(tr_size - 1)]){
        td.innerHTML = ""
      }
    }
    
    
    // delete row form table
    function delRow(e) {
      if (e.parentNode.parentNode.parentNode.getElementsByClassName("content__table_body") <= 1) {
        alert("Can not delete")
      }else{
        e.parentNode.parentNode.parentNode.removeChild(e.parentNode.parentNode)
      }
    }
    
    function toggleAllCheckboxes() {
      var masterCheckbox = document.getElementById("Checkbox11");
      var checkboxes = document.querySelectorAll("#myTable .content__table-checkbox");
    
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = masterCheckbox.checked;
      }
    }
    
    // Checkbox bảng 1.2
    function toggleAllCheckboxes12() {
      var masterCheckbox = document.getElementById("Checkbox12");
      var checkboxes = document.querySelectorAll("#myTable12 .content__table-checkbox");
    
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = masterCheckbox.checked;
      }
    }
    // Checkbox bảng 1.3
    function toggleAllCheckboxes13() {
      var masterCheckbox = document.getElementById("Checkbox13");
      var checkboxes = document.querySelectorAll("#myTable13 .content__table-checkbox");
    
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = masterCheckbox.checked;
      }
    }
    // Checkbox bảng 1.4
    function toggleAllCheckboxes14() {
      var masterCheckbox = document.getElementById("Checkbox14");
      var checkboxes = document.querySelectorAll("#myTable14 .content__table-checkbox");
    
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = masterCheckbox.checked;
      }
    }
    // Checkbox bảng 1.5
    function toggleAllCheckboxes15() {
      var masterCheckbox = document.getElementById("Checkbox15");
      var checkboxes = document.querySelectorAll("#myTable15 .content__table-checkbox");
    
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = masterCheckbox.checked;
      }
    }
    // Checkbox bảng 2.1
    function toggleAllCheckboxes21() {
      var masterCheckbox = document.getElementById("Checkbox21");
      var checkboxes = document.querySelectorAll("#myTable21 .content__table-checkbox");
    
      for (var i = 0; i < checkboxes.length; i++) {
        checkboxes[i].checked = masterCheckbox.checked;
      }
    }
    
    // open/close table
    function showTableList(e) {
      for (table of e.parentNode.parentNode.children){
        table.classList.toggle("showTable");
      }
    };
    
  </script>
  <!-- JS POPUP -->
  <script>
    getEle("send_baocao").addEventListener("click",()=>{
        getEle("popup__guiBaocao").style.display = "flex"
    })
    
    getEle("close__popupBaocao").addEventListener("click",()=>{
        getEle("popup__guiBaocao").style.display = "none"
    })
    getEle("btn__closeBaocao").addEventListener("click",()=>{
        getEle("popup__guiBaocao").style.display = "none"
    })
    
    //popupfeedback
    function showFeedbackPopup() {
    document.getElementById("popup_SendFeedback").style.display = "flex";
    }
    function hideFeedbackPopup() {
    document.getElementById("popup_SendFeedback").style.display = "none";
    }
    
  </script>
</html>